<div class="giveaway__row-outer-wrap" data-game-id="707686725">
  <div class="giveaway__row-inner-wrap">
    <div class="giveaway__summary">
      <h2 class="giveaway__heading">
        <a class="giveaway__heading__name" href="/giveaway/xYdoO/the-walking-dead-michonne-a-telltale-miniseries">
          The Walking Dead: Michonne - A Tellta...
        </a>
        <span class="giveaway__heading__thin">(15P)</span>
        <a class="giveaway__icon" rel="nofollow" target="_blank" href="http://store.steampowered.com/app/429570/">
          <i class="fa fa-steam"></i>
        </a>
        <a class="giveaway__icon" href="/giveaways/search?app=429570">
          <i class="fa fa-search"></i>
        </a>
        <i class="giveaway__icon giveaway__hide trigger-popup fa fa-eye-slash"></i>
      </h2>
      <div class="giveaway__columns">
        <div style="cursor:help" title="approx. odds of winning"><i class="fa fa-trophy"></i> 0.014%</div>
        <div><i class="fa fa-clock-o"></i> <span data-timestamp="1513410120">1 day</span> remaining</div>
        <div class="giveaway__column--width-fill text-right"><span data-timestamp="1512974843">3 days</span> ago by <a
          class="giveaway__username" href="/user/shantanuthakur1">shantanuthakur1</a></div>
      </div>
      <div class="giveaway__links">
        <a href="/giveaway/xYdoO/the-walking-dead-michonne-a-telltale-miniseries/entries"><i class="fa fa-tag"></i> <span>4,929 entries</span></a>
        <a href="/giveaway/xYdoO/the-walking-dead-michonne-a-telltale-miniseries/comments"><i class="fa fa-comment"></i>
          <span>31 comments</span></a>
        <div class="description descriptionLoad"><a><i class="fa fa-file-text descriptionIcon"></i>
          <span>Show description</span></a></div>
      </div>
    </div>
    <a href="/user/shantanuthakur1" class="giveaway_image_avatar"
       style="background-image:url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2a/2ad22ee65f85f361d91622f82da0327704e60420_medium.jpg);"></a><a
    class="giveaway_image_thumbnail"
    style="background-image:url(https://steamcdn-a.akamaihd.net/steam/apps/429570/capsule_184x69.jpg);"
    href="/giveaway/xYdoO/the-walking-dead-michonne-a-telltale-miniseries"></a>
    <input type="button" value="Join" class="btnSingle" walkstate="join"></div>
</div>
